---
// This page redirects from the old blog URL to the new blog URL
---

<meta http-equiv="refresh" content="0;url=/blog" />
<script>
    window.location.href = '/blog';
</script>

<noscript>
    <p>Please <a href="/blog">click here</a> to visit our blog.</p>
</noscript> 