---
import { slugMap } from '../../data/blog-posts';

export function getStaticPaths() {
    return Object.entries(slugMap).map(([oldSlug, newSlug]) => ({
        params: { slug: oldSlug },
        props: { newSlug }
    }));
}

const { newSlug } = Astro.props;
return Astro.redirect('/blog/' + newSlug);
---

<meta http-equiv="refresh" content="0;url=/blog/{slug}" />
<script>
    window.location.href = '/blog/{slug}';
</script>

<noscript>
    <p>Please <a href="/blog/{slug}">click here</a> to visit the blog post.</p>
</noscript> 